*{
    margin: 0;
    padding: 0;
}

/* todos los html de la web*/

/* HEADER*/

header ul li{
    display: inline;
    margin: 3%;
}

header{
    background-color: #FDDE8F;
}

.grid-paginas{
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 60px 60px;
    }

.grid-logo{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.logo{
    height: 180%;
    margin: 2%;
    border-radius: 100%; 
    margin-left: 1%;
}

.grid-titulo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.titulos{
    display: flex;
    justify-content: center;
    height: 70%;
    margin-top: 2%;
    align-self: center;
    font-family: 'Roboto';
    font-size: xx-large;
}

.grid-nav{
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.flex-navegacion{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 70px;
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
    font-size: medium;
    text-decoration: none;
}




/* FIN HEADER*/

/* MAIN INDEX */

.fondoindex{
    background-image: url(../img/fondo-patitas-huesos.jpg);
    background-attachment: fixed;
}

.imgvete{
    height: 100%;
    width: 100%; 
    margin: 40px 0px 40px 0px;
}

/* FIN MAIN INDEX */

/* MAIN CONTACTO */

.textobien{
    text-align: justify;
    background-image: url(../img/fondo-patitas-huesos.jpg);
    background-attachment: fixed;
}

.div-main{
    display: inline-flex;
    justify-content: space-between;
    height: auto;
}

.img-juan{
    height: 700px;
    width: 500px;
    padding: 10px;
    border-radius: 30px;
}

.texto-aboutme{
    background-color: #ebd8a8;
    opacity: 0.70;
    padding: 10px;
    height: fit-content;
}

.contacto{
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: "roboto";
    font-size: larger;
}

/*FIN MAIN CONTACTO */

/* MAIN PACIENTES */

.textoPacientes{
    text-align: justify;
    background-image: url(../img/fondo-patitas-huesos.jpg);
    background-attachment: fixed;
    height: 450px;;
}

.pacientes-sec{
    display: flex;
    flex-wrap: wrap;
}

.fotos{
    height: 300px;
    width: 300px;
    margin: 5px;
}

.fotos:hover{
    transform: scale(2);
}

/* FIN MAIN PACIENTES */

/* MAIN ADOPTA */

/*class texto bien se comparte con contacto*/

.titulo-div{
    text-align: center;
    font-family: "roboto";
    font-size: xx-large;
    padding: 20px;
    margin: 0%;
}

.texto-adopta{
    height: 200px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

/* inicia formulario de adopta*/
form{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-family: "roboto";
}

input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
    max-height: 250px;
    max-width: 100%;
}
#boton{
    border-radius: 50px;
    padding: 20px;
}

.titulo-form{
    text-align: center;
    font-family: "roboto";
    color: whitesmoke;
}
/* fin formulario adopta*/
/* FIN MAIL ADOPTA*/

/* MAIN INFORMATE*/

/*textobien2 comparte*/

.titulo1{
    margin: 0%;
    font-size: x-large;
    font-family: "roboto";
    text-align: center;
}

/* FIN MAIN INFORMATE*/


/* FOOTER */

footer{
    background-color: #FDDE8F;
    padding: 2%;
}

footer div p{
    margin: 0px;
    padding: 0px;
    height: 150px;
    width: 150px;
}


.flex-pie{
    display: inline-flex;
    justify-content: center;
    font-family: "roboto";
    font-size: small;
    }

.flex-centrosatc{
    display: inline-flex;
}

.centros-f{
    font-family: "roboto";
    margin: 0%;
    align-self: center;
}

.grid-footer{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 150px;
    justify-items: center;
    align-self: center;
}

/* FIN FOOTER */














